.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 30px;
  }
  
  .header {
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
  
  .header span {
    color: #d5f365;
    font-weight: 600;
    padding-left: 20px;
  }
  
  .search-box {
    display: flex;
    width: 1000px;
    height: 95px;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #f5ec6d2c;    
  }
  
  .search-input {
    width: 600px;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    padding-left: 35px;
    margin-right: 35px;
    font-family: 'Poppins', sans-serif;
  }
  
  .search-input::placeholder{
    color: #999;
    font-family: 'Poppins', sans-serif;
  }
  
  #bottone1 {
    color: black;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-radius: 9px;
    background: #d5f365;
    border: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
  }
  
  #bottone1:hover {
    box-shadow: 7px 5px 56px -14px #C3D900;
  }
  
  #bottone1:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #C3D900;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Button styles */
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .imageContainer {
    position: relative;
  }
  
  .imageWrapper {
    position: relative;
  }

  .downloadButton {
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1c1c1e;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .downloadButton:hover {
    font-weight: bold;
    background-color: #D5F365;
    color: black;
  }